@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&display=swap');



body {
    background: darkgray;
    font-family: 'Karla', sans-serif;
    padding: 2% 0;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 70% 15%;
    min-width: 200px;
    max-width: 50%;
    min-height: 20%;
    align-content: center;
    border: 15px solid white;
    border-radius: 5px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 15px gray;
}

.header {
    padding-left: 2%;
}

a {
    text-decoration: none;
}

.text {
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: larger;
    padding: 2%;
}

.image {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    justify-content: stretch;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.footer {
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
}

.mail {
    color: dimgray;
}

.dot {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 540px) and (max-width: 1024px){
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        min-height: min-content;
        max-width: 80%;
    }

    .header {
        margin-bottom: 5%;
        grid-column: 1;
        grid-row: 1;
    }

    .image {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

    .text {
        grid-column: 1;
        grid-row: 3;
    }

    .footer {
        grid-column: 1;
        grid-row: 4;
    }
}