@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&display=swap');

body {
    background: darkgray;
    font-family: 'Karla', sans-serif;
    padding: 100px 0;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    min-width: 200px;
    max-width: 55%;
    min-height: 20%;
    border: 5px solid white;
    border-radius: 5px;
    margin: 0 auto;
    background: white;
    box-shadow: 10px 10px 5px grey;
}

footer {
    display: flex;
    height: 30px;
}

.image {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 5px;
}

.text {
    padding: 10px;
}

.mail {
    color: dimgray;
}

.dot {
    padding-left: 10px;
    padding-right: 10px;
}
